<!DOCTYPE html>
<html ng-app="martialManager">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Martial Manager</title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- Firebase and Angulafire -->
    <script src="js/firebase-web.js"></script>
    <script src="js/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>
  
  </head>
  <body>
  <ion-nav-bar class="bar-stable" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    
    <!-- Templates -->
    
    <!--login.html -->
    <script type = "text/ng-template" id = "login.html" >
      <ion-view title="Sign In">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="em" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="pwd" required>
            </label>
            <div class="padding">
              <button class="button button-block button-positive" ng-click="login(em, pwd)">
                Login
              </button>
              <button ng-click="register(em, pwd)" class="button button-block button-dark">
                Register
              </button>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    <!-- menu.html -->
    <script type = "text/ng-template" id = "menu.html" >
      <ion-side-menus enable-menu-with-back-views="false">
  
        <ion-side-menu-content>
          <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
      
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>
      
        <ion-side-menu side="left">
          <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content>
            <ion-list>
             <ion-item menu-close href="#/menu/account">
                Account
              </ion-item>
              <ion-item menu-close href="#/menu/studList">
                Students
              </ion-item>
              <ion-item menu-close ng-click="logout()">
                Log Out
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>
        
      </ion-side-menus>
    </script>
    
    <!-- account.html -->
    <script type = "text/ng-template" id ="account.html">
      <ion-view title="Account">
        <ion-content>
          <div class="list">
            <div class="card">
              <div class="item item-text-wrap">
                You are logged in as {{user.password.email}}
              </div>
            </div>
            <div class="item">
              <h4>User Details</h4><br>
              Full Name {{user.password.fullName}}
            </div>
            <div class="padding">
              <button class="button button-block button-dark" onclick="location.href='#/menu/userDetails';">Add User Details</button>
              <button class="button button-block button-dark" onclick="location.href='#/menu/userDetails';">Edit User Details</button>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <!--userDetails.html -->
    <script type = "text/ng-template" id = "userDetails.html" >
      <ion-view view-title="Add some information about yourself">
        <ion-content>
          <div class="list list-inset" ng-controller="userDetailController">
            <label class="item item-input">
            <span class="input-label">Full Name</span>
            <input type="text" ng-model="fullName">
            </label>
            <label class="item item-input">
              <span class="input-label">Main Location</span>
              <input type="text" ng-model="userLocation">
            </label>
            <label class="item item-input">
              <span class="input-label">Address</span>
              <input type='text' ng-model='userAddress'>
            </label>
            <label class="item item-input">
              <span class="input-label">Phone Number</span>
              <input type='number' ng-model='userNumber'>
            </label>
            <label class="item item-input">
              <span class="input-label">Club Name</span>
              <input type='text' ng-model='userCName'>
            </label>
            <label class="item item-input">
              <span class="input-label">Website</span>
              <input type='text' ng-model='userWebsite'>
            </label>

          <div class="item button button-block button-positive" ng-model="userDetails" ng-click="submitUserDetails()" >
          Save your details
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    <!--home.html 
    <script type = "text/ng-template" id = "home.html" >
      <ion-view view-title="Students">
        <ion-content>
          <div class="row">
            <div class="col"><a class="button button-full" ui-sref="menu.studList"><p class>View Students</p></a></div>
          </div>
        </ion-content>
      </ion-view>
    </script> -->
    
    <!--add.html -->
    <script type = "text/ng-template" id = "add.html" >
      <ion-view view-title="Add a Student">
        <ion-content>
          <div class="list list-inset" ng-controller="addStudentController">
            <label class="item item-input">
            <span class="input-label">Student First Name</span>
            <input type="text" ng-model="studFirstName">
            </label>
            <label class="item item-input">
              <span class="input-label">Student Last Name</span>
              <input type="text" ng-model="studLastName">
            </label>
            <label class="item item-input">
              <span class="input-label">Date of Birth</span>
              <input type='date' ng-model='studDob'>
            </label>
            <label class="item item-input">
              <span class="input-label">Start Date</span>
              <input type='date' ng-model='studStartDate'>
            </label>
            <label class="item item-input">
              <span class="input-label">End Date</span>
              <input type='date' ng-model='studEndDate'>
            </label>
            
            <label class="item item-input">
              <span class="input-label">Payment Type</span>
              <select ng-model="studPaymentType">
                <option value="casual" ng-model="casual">Casual</option>
                <option value="cashCard" ng-model="cashCard">Membership Cash/Card</option>
                <option value="directDebit" ng-model="directDebit">Membership Direct Debit</option>
              </select>
            </label>
            
            <label class="item item-input">
              <span class="input-label">Is student over 18?</span>
              <select ng-model="adult">
                <option value="no" ng-model="no">No</option>
                <option value="yes" ng-model="yes">Yes</option>
              </select>
            </label>
            
            <div class="wrapper" ng-show="adult == 'yes'">
              <label class="item item-input">
                <span class="input-label">Student Address</span>
                <input type="text" ng-model="studAddress">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Email</span>
                <input type="text" ng-model="studEmail">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Phone</span>
                <input type="text" ng-model="studPhone">
              </label>
              <label class="item item-input">
                <span class="input-label">Emergency Name</span>
                <input type="text" ng-model="emergName">
              </label>
              <label class="item item-input">
                <span class="input-label">Emergency Phone</span>
                <input type="text" ng-model="emergPhone">
              </label>
            </div>
            
            <div class="wrapper" ng-show="adult == 'no'">
              <label class="item item-input">
                <span class="input-label">Parent First Name</span>
                <input type="text" ng-model="parFirstName">
              </label>
              <label class="item item-input">
                <span class="input-label">Parent Last Name</span>
                <input type="text" ng-model="parLastName">
              </label>
              <label class="item item-input">
                <span class="input-label">Parent Address</span>
                <input type="text" ng-model="parAddress">
              </label>
              <label class="item item-input">
                <span class="input-label">Parent Email</span>
                <input type="text" ng-model="parEmail">
              </label>
              
              <span class="input-label">Optional Details</span>
              <label class="item item-input">
                <span class="input-label">Student Address</span>
                <input type="text" ng-model="studAddress">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Email</span>
                <input type="text" ng-model="studEmail">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Phone</span>
                <input type="text" ng-model="studPhone">
              </label>
            </div>
            
            
          <div class="item button button-block button-positive" ng-model="addButton" ng-disabled="!studFirstName||!studLastName||!studDob" ng-click="submitStudent()" >
          Add Student
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    
    <!-- student list -->
    <script type = "text/ng-template" id = "studList.html" >
      <ion-view view-title="Choose Student">
        <ion-content>
        <div class="row">
            <div class="col"><a class="button button-full" ui-sref="menu.edit"><p class>Edit Students</p></a></div>
          </div>
          <div class="row">
            <div class="col"><a class="button button-full" ui-sref="menu.add"><p class>Add Students</p></a></div>
          </div>
          <div class="row">
            <div class="col"><a class="button button-full" ui-sref="menu.del"><p class>Delete Students</p></a></div>
          </div>
          <ion-list ng-controller="listController">
            <ion-item ng-repeat="student in students|filter:user.password.email" class = "studListing" type="item-text-wrap">
              <a ui-sref="menu.singleStudent({id:student.$id})" nav-direction="enter" >{{student.studentLastName}}, {{student.studentFirstName}}</a>  
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>
    
    <!-- single student -->
    <script type = "text/ng-template" id = "singleStud.html" >
      <ion-view view-title="Student" >
        <ion-content>
          <div class="list list-inset" ng-controller="studentController" type="item-text-wrap">
          <div class="item"><h2>Details: {{singleStudent.studentFirstName}} {{singleStudent.studentLastName}}</h2><br>
          <b>Date of Birth:</b> {{singleStudent.studentDob}}<br>
          <b>Start Date:</b> {{singleStudent.studentStartDate}}<br>
          <b>End Date:</b> {{singleStudent.studentEndDate}}<br>
          <b>Payment Type:</b> {{singleStudent.studentPaymentType}}<br>
          <b>Student Address:</b> {{singleStudent.studentAddress}}<br>
          <b>Student Email:</b> {{singleStudent.studentEmail}}<br>
          <b>Student Phone Number:</b> {{singleStudent.studentPhone}}<br>
          <b>Emergency Contact Name:</b> {{singleStudent.emergencyName}}<br>
          <b>Emergency Contact Number:</b> {{singleStudent.emergencyPhone}}<br>
          <b>Parent First Name:</b> {{singleStudent.parentFirstName}}<br>
          <b>Parent Last Name:</b> {{singleStudent.parentLastName}}<br>
          <b>Parent Address:</b> {{singleStudent.parentAddress}}<br>
          <b>Parent Email:</b> {{singleStudent.parentEmail}}<br>
          </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    <script type = "text/ng-template" id = "delStud.html" >
      <ion-view view-title="Delete Student">
        <ion-content class="myContent">
          <div ng-controller="deleteController">
          <ion-list>
            <ion-item ng-repeat="stud in studs|filter:user.password.email " >
               <div class="item button button-block button-positive" ng-model="delButton" ng-click="showDetails(stud.$id)" >
                Delete {{stud.studentFirstName}} 
                </div>
            </ion-item>
          </ion-list>
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    <script type = "text/ng-template" id = "edit.html" >
      <ion-view view-title="Choose Student to edit">
        <ion-content>
          <ion-list ng-controller="editController">
            <ion-item ng-repeat="edit in editStudents|filter:user.password.email " class = "studListing">
              <a ui-sref="menu.one({id:edit.$id})" nav-direction="enter" ><h2>Edit details for {{edit.studentFirstName}}</h2> </a>  
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type = "text/ng-template" id = "editOne.html" >
      <ion-view view-title="Edit Student">
        <ion-content>
          <div class="list list-inset" ng-controller="studentEditController">
            <label class="item item-input">
            <span class="input-label">Student first name</span>
            <input type="text" ng-model="title">
          </label>
          <label class="item item-input">
            <span class="input-label">Student last name</span>
            <input type="text" ng-model="studentLastName">
          </label>
          <label class="item item-input">
            <span class="input-label">Student date of birth</span>
            <input type="date" ng-model="studentDob">
          </label>
          
          <label class="item item-input">
              <span class="input-label">Start Date</span>
              <input type='date' ng-model='studentStartDate'>
          </label>
          
          <label class="item item-input">
              <span class="input-label">End Date</span>
              <input type='date' ng-model='studentEndDate'>
          </label>
            
          <label class="item item-input">
              <span class="input-label">Payment Type</span>
              <select ng-model="studentPaymentType">
                <option value="casual" ng-model="casual">Casual</option>
                <option value="cashCard" ng-model="cashCard">Membership Cash/Card</option>
                <option value="directDebit" ng-model="directDebit">Membership Direct Debit</option>
              </select>
          </label>

            <label class="item item-input">
              <span class="input-label">Is student over 18?</span>
              <select ng-model="adult">
                <option value="no" ng-model="no">No</option>
                <option value="yes" ng-model="yes">Yes</option>
              </select>
            </label>
            
            <div class="wrapper" ng-show="adult == 'yes'">
              <label class="item item-input">
                <span class="input-label">Student Address</span>
                <input type="text" ng-model="studentAddress">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Email</span>
                <input type="text" ng-model="studentEmail">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Phone</span>
                <input type="text" ng-model="studentPhone">
              </label>
              <label class="item item-input">
                <span class="input-label">Emergency Name</span>
                <input type="text" ng-model="emergencyName">
              </label>
              <label class="item item-input">
                <span class="input-label">Emergency Phone</span>
                <input type="text" ng-model="emergencyPhone">
              </label>
            </div>
            
            <div class="wrapper" ng-show="adult == 'no'">
              <label class="item item-input">
                <span class="input-label">Parent First Name</span>
                <input type="text" ng-model="parentFirstName">
              </label>
              <label class="item item-input">
                <span class="input-label">Parent Last Name</span>
                <input type="text" ng-model="parentLastName">
              </label>
              <label class="item item-input">
                <span class="input-label">Parent Address</span>
                <input type="text" ng-model="parentAddress">
              </label>
              <label class="item item-input">
                <span class="input-label">Parent Email</span>
                <input type="text" ng-model="parentEmail">
              </label>
              
              <span class= input-label">Optional Details</span>
              <label class="item item-input">
                <span class="input-label">Student Address</span>
                <input type="text" ng-model="studentAddress">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Email</span>
                <input type="text" ng-model="studentEmail">
              </label>
              <label class="item item-input">
                <span class="input-label">Student Phone</span>
                <input type="text" ng-model="studentPhone">
              </label>
            </div>
          
          
          <div class="item button button-block button-positive" ng-model="editButton" ng-disabled="!title||!studentLastName||!studentDob" ng-click="updateStudent(myid)" >
           Save changes to Student
          </div>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
